
/*Frosted glass effect courtesy of Usama Tahir */
/*https://medium.com/@AmJustSam/how-to-do-css-only-frosted-glass-effect-e2666bafab91*/

body {
	font-family: sans-serif;
	text-align: center;
	background: url('https://vignette.wikia.nocookie.net/starwars/images/6/6d/Theed_spaceport.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

tr {
	width: 100%;
	background-color: white;
	margin: 50px;
    padding: 50px;
	text-align: left
	border: none;
	border-radius: 5px;
}

input {
	width: 540px;
	height: 32px;
	border-radius: 5px;
	border: white;
	padding: 0 15px;
}

button {
  color: white;
	border: none;
	border-radius: 3px;
}

#postButton button {
	background: green;
  font-size: 16px;
  margin: 15px;
  padding: 10px;
	}

#output button {
  background: red;
  text-align: center;
  font-size: 16px;
  margin: 0 0 0 10px;
  padding: 5px;
}

#container {
	width: 650px;
	height: 350px;
	background: inherit;
	position: absolute;
	overflow: hidden;
	top: 50%;
	left: 50%;
	margin-left: -325px;
	margin-top: -250px;
	border-radius: 8px;
}

#container:before {
	width: 700px;
	height: 400px;
	content: "";
	position: absolute;
	top: -25px;
	left: -25px;
	bottom: 0;
	right: 0;
	background: inherit;
	box-shadow: inset 0 0 0 200px rgba(255,255,255,0.25);
	filter: blur(10px);
}

#content {
	position: absolute;
	width: 650px;
	height: 350px;
	padding: 0px 25px;
}

/*
To-do: 13Dec2017
- Adjust lateral positioning of input field
- Apply css after initial rendering? Any posts added afterward will not receive the width correction.
*/